@using HelpersDTO.AppointmentDto.Enums
@model AppointmentPanelViewModel

<div class="container">
    <div class="row">
        <div class="col-2">
            @await Html.PartialAsync("AdminMenu")
        </div>
        <div class="col-10">
            <div class="row">
                <div asp-validation-summary="All" />
                <form method="post" class="form-group">
                    <div class="col-4 form-floating mb-3">
                    </div>

                    <div class="col-3">
                        <select class="form-select" name="@Model.DESC" aria-label="По дате">
                            <option value="true" selected>По убыванию</option>
                            <option value="false">По возрастанию</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <h3>Выберите Статус</h3>
                        <select class="form-select" name="Status">
                            @foreach (var name in Enum.GetNames(typeof(StatusEnum)))
                            {
                                <option value="@((int)Enum.Parse<StatusEnum>(name, true))">@name</option>
                            }
                        </select>
                    </div>
                    <div class="col-3">
                        <button type="submit" class="btn btn-primary" asp-area="Admin" asp-controller="CallCenter" asp-action="Appointments">Найти заявки</button>
                    </div>
                </form>
            </div>
            @if (Model?.AppointmentsSearchResult?.Any() ?? false)
            {
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Пациент</th>
                                <th scope="col">Дата</th>
                                <th scope="col">Продолжительность</th>
                                <th scope="col">Цена</th>
                                <th scope="col">Статус</th>
                                <th scope="col" />
                                <th scope="col" />
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var appointment in Model.AppointmentsSearchResult)
                            {
                                <tr>
                                    <td>@appointment.Patient?.LastName @appointment.Patient?.FirstName</td>
                                    <td>@appointment.Date</td>
                                    <td>@appointment.Time</td>
                                    <td>@appointment.Price</td>
                                    <td>@appointment.Status</td>
                                    <td>
                                        <a class="btn btn-primary" asp-area="Admin" asp-controller="Appointment" asp-action="Info" asp-route-id="@appointment.Id" role="button">Подробнее</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger" asp-area="Admin" asp-controller="Appointment" asp-action="Confirm" asp-route-id="@appointment.Id" asp-route-isConfirm="false" role="button">Удалить</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="text-danger">
                    Записей нет
                </div>
            }
        </div>
    </div>
</div>