@model CheckPatientViewModel

<div class="container">
    <div class="row">
        <div class="col-2">
            @await Html.PartialAsync("AdminMenu")
        </div>
        <div class="col-10">
            @if (Model != null)
            {
                <div class="row">
                    <div class="col">
                        <div class="py-5">
                            <div class="text-danger" asp-validation-summary="All" />
                            <h4>Создание договора</h4>
                            <form method="post" class="form-group">
                                <input type="hidden" name="UserId" value="@Model.UserId" />
                                <input type="hidden" name="AppointmentId" value="@Model.AppointmentId" />
                                <div class="row">
                                    <div class="form-floating mb-3 col-4">
                                        <input type="text" class="form-control" name="LastName" placeholder="Фамилия" value="@Model.LastName">
                                        <label for="floatingInput">Фамилия</label>
                                        <span asp-validation-for="LastName"></span>
                                    </div>

                                    <div class="form-floating mb-3col-4">
                                        <input type="text" class="form-control" name="FirstName" placeholder="Имя" value="@Model.FirstName">
                                        <label for="floatingInput">Имя</label>
                                        <span asp-validation-for="FirstName"></span>
                                    </div>
                                    <div class="form-floating mb-3 col-4">
                                        <input type="text" class="form-control" name="MiddleName" placeholder="Отчество" value="@Model.MiddleName">
                                        <label for="floatingInput">Отчество</label>
                                        <span asp-validation-for="MiddleName"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-floating mb-3 col-4">
                                        <input type="text" class="form-control" name="Passport.Series" placeholder="Серия" value="@Model.Passport.Series">
                                        <label for="floatingInput">Серия</label>
                                        <span asp-validation-for="Passport.Series"></span>
                                    </div>
                                    <div class="form-floating mb-3 col-4">
                                        <input type="text" class="form-control" name="Passport.Number" placeholder="Номер" value="@Model.Passport.Number">
                                        <label for="floatingInput">Номер</label>
                                        <span asp-validation-for="Passport.Number"></span>
                                    </div>
                                    <div class="form-floating mb-3 col-4">
                                        <input type="date" class="form-control" name="Passport.IssueDate" placeholder="Дата выдачи" value="@Model.Passport.IssueDate">
                                        <label for="floatingInput">Дата выдачи</label>
                                        <span asp-validation-for="Passport.IssueDate"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-floating mb-3 col-6">
                                        <input type="text" class="form-control" name="Passport.SubdivisionCode" placeholder="Код подразделения" value="@Model.Passport.SubdivisionCode">
                                        <label for="floatingInput">Код подразделения</label>
                                        <span asp-validation-for="Passport.SubdivisionCode"></span>
                                    </div>
                                    <div class="form-floating mb-3 col-6">
                                        <input type="text" class="form-control" name="Passport.IssuedBy" placeholder="Кем выдан" value="@Model.Passport.IssuedBy">
                                        <label for="floatingInput">Кем выдан</label>
                                        <span asp-validation-for="Passport.IssuedBy"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <button type="submit" class="btn btn-primary" asp-area="Admin" asp-controller="Patient" asp-action="CreateNewContract">Создать договор</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="text-danger">
                    Такой записи не существует
                </div>
            }
        </div>
    </div>
</div>