@model PatientViewModel

@{
    ViewData["Title"] = "Profile";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Patient Profile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>
        <dt class="col-sm-2">First Name</dt>
        <dd class="col-sm-10">@Model.FirstName</dd>
        <dt class="col-sm-2">Last Name</dt>
        <dd class="col-sm-10">@Model.LastName</dd>
        <dt class="col-sm-2">Date of Birth</dt>
        <dd class="col-sm-10">@Model.DateOfBirth.ToShortDateString()</dd>
        <dt class="col-sm-2">Phone Number</dt>
        <dd class="col-sm-10">@Model.PhoneNumber</dd>
    </dl>
</div>

<div>
    <a asp-action="EditProfile">Edit Profile</a> |
    <a asp-action="Logout">Logout</a>
</div>
