@model RegisterViewModel

<div class="container">
    <div class="row">
        <div class="col-md-11 mt-60 mx-md-auto">
            <div class="login-box bg-white pl-lg-5 pl-0">
                <div class="row no-gutters align-items-center">
                    <div class="col-md-6">
                        <div class="form-wrap bg-white">
                            <h4 class="btm-sep pb-3 mb-5">Регистрация</h4>
                            <form class="form" method="post">
                                <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
                                <div asp-validation-summary="All"></div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group position-relative">
                                            <span class="zmdi zmdi-account"></span>
                                            <input type="email" id="email" class="form-control" placeholder="Email" name="Email" value="@Model.Email" asp-for="Email">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group position-relative">
                                            <span class="zmdi zmdi-email"></span>
                                            <input type="text" id="phone" class="form-control" placeholder="Телефон" name="Phone" value="@Model.Phone" asp-for="Phone" min="9" maxlength="10">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group position-relative">
                                            <span class="zmdi zmdi-email"></span>
                                            <input type="password" id="password" class="form-control" placeholder="Пароль" name="Password" value="@Model.Password" asp-for="Password">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group position-relative">
                                            <span class="zmdi zmdi-email"></span>
                                            <input type="password" id="confirmPassword" class="form-control" placeholder="Повтор пароля" name="ConfirmPassword" value="@Model.ConfirmPassword" asp-for="ConfirmPassword">
                                        </div>
                                    </div>
                                    <div class="col-12 text-lg-right">
                                        <a href="#" class="c-black">Забыли пароль ?</a>
                                    </div>
                                    <div class="form-check">
                                        <input checked class="form-check-input" type="checkbox" name="RememberMe" value="true" asp-for="RememberMe">
                                        <label class="form-check-label" for="flexCheckChecked">
                                            Запомнить меня?
                                        </label>
                                    </div>
                                    <div class="col-12 mt-30">
                                        <button type="submit" class="btn btn-lg btn-custom btn-dark btn-block" asp-controller="Auth" asp-action="Register">
                                            Зарегистрироваться
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>