@using HelpersDTO.AppointmentDto.Enums
@model AppointmentFullInfoViewModel?

<div class="container">
    <div class="row">
        <div class="col-2">
            @await Html.PartialAsync("AdminMenu")
        </div>
        <div class="col-10">
            @if (Model != null)
            {
                <div class="row">
                    ФИО пациента: @Model.Patient?.LastName @Model.Patient?.FirstName
                </div>
                <div class="row">
                    Дата записи: @Model.Date
                </div>
                <div class="row">
                    Время записи: @Model.Time
                </div>
                <div class="row">
                    Цена: @Model.Price
                </div>
                <div class="row">
                    Доктор: @Model.Doctor?.LastName @Model.Doctor?.FirstName @Model.Doctor?.MiddleName
                </div>
                <div class="row">
                    Статус: @Model.Status
                </div>
                if (Model.Status == "Забронировано пользователем")
                {
                    <div class="row">
                        <a class="btn btn-primary" asp-area="Admin" asp-controller="Appointment" asp-action="UpdateStatus" asp-route-id="@Model.Id" asp-route-status="@((int)StatusEnum.Waiting)" role="button">Подтвердить новую запись</a>
                    </div>
                }
                if (Model.Status == "В ожидании приема")
                {
                    if (Model.Patient?.IsNew ?? false)
                    {
                        <div class="row">
                            <a class="btn btn-primary" asp-area="Admin" asp-controller="Appointment" asp-action="CreateNewContract" asp-route-id="@Model.Id" asp-route-userId="@Model.Patient!.UserId" role="button">Заключить договор</a>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <a class="btn btn-primary" asp-area="Admin" asp-controller="Appointment" asp-action="UpdateStatus" asp-route-id="@Model.Id" asp-route-userId="@Model.Patient?.UserId" asp-route-status="@((int)StatusEnum.Waiting)" role="button">Подтвердить прием</a>
                        </div>
                    }
                }
                <div class="row">
                    <a class="btn btn-danger" asp-area="Admin" asp-controller="Appointment" asp-action="UpdateStatus" asp-route-id="@Model.Id" asp-route-status="@((int)StatusEnum.Сanceled)" role="button">Удалить</a>
                </div>
            }
            else
            {
                <div class="text-danger">
                    Такой записи не существует
                </div>
            }
        </div>
    </div>
</div>